@import "../../../variables.scss"; 

.import-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .import-rating h1 {
    font-size: 2rem;
    color: $base-black-color;
  }
  
  .movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .movie-details p {
    font-size: 1.2rem;
    color: $base-gray-color;
  }
  
  .action-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
  }
  