@import "../../variables.scss";

button {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 32px;
  border-color: $base-black-color;
  transition: all 0.2s ease-in-out;
  width: min-content;
  white-space: nowrap;

  &.primary {
    background: $base-black-color;
    color: $base-white-color-0;
  }

  &.secondary {
    background: transparent;
    color: $base-black-color;
  }

  &:hover {
    cursor: pointer;
    background: $base-active-color;
    border-color: $base-active-color;

    &.secondary {
      color: $base-white-color-0;
    }
  }
}

.cinema-film {
  .vector {
    background: $base-black-color;
    height: 35px;
    position: relative;
  }

  .sq-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .square {
    height: 30px;
    width: 20px;
    background: $base-white-color;
  }

  .img-wrapper {
    display: flex;
    overflow-x: auto;
  }

  .posters-section img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-right: 2px solid $base-black-color;
  }

  .cinema-wrapper img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-right: 2px solid $base-black-color;
  }
}

.info-card {
  text-align: center;

  .header {
    color: rgb(74, 74, 74);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .location {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

.dialog-message {
  border: 2px solid $base-black-color;
  border-radius: 16px;
  padding: 5px 15px;
  width: 75%;

  .dialog-content {
    font-size: 1.125rem;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &.me {
    background-color: rgba($base-active-color, 0.5);
    align-self: self-end;
  }
}

.statistics-section {
  display: flex;
  justify-content: space-around;
}

.purchase-card {
  border: 2px solid $base-black-color;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  div:first-child {
    padding: 10px;
  }

  & > div {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .purchase-card-text {
    border-left: 2px solid $base-black-color;
    font-size: 1.125rem;
    text-align: left;
    font-family: monospace;
    width: 100%;

    input,
    select,
    option {
      font-size: 1rem;
      background: transparent;
      height: calc(100% - 6px);
      width: 100%;
      border: 2px solid transparent;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      box-sizing: border-box;
    }
  }

  .purchase-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 24px;
  }
}
