.update-movie-metadata {
    padding: 20px;
    margin-top: 80px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    
  }
  
  .movie-metadata-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-btn {
    background-color: #c55d52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .submit-btn:hover {
    background-color: #d2886a;
  }
  
  .submit-btn:focus {
    outline: none;
  }
  