@import "../../../variables.scss";

.pageadmin {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 85px;
  text-align: center;

  .actions-list {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .action-item {
    background-color: $base-white-color-100;
    border: 1px solid $base-black-color;
    border-radius: 8px;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      color: $base-black-color;
    }

    p {
      font-size: 1rem;
      color: $base-black-color;
    }
  }
}
