$base-white-color: #ece2da;
$base-white-color-0: #fff;
$base-white-color-100: #f7f0eb;

$base-gray-color: #434141;
$base-black-color: #000200;

$base-active-color: #c55d52;
$base-active-color-100: #d2886a;