@import "../../../variables.scss";

.update-price-ticket {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: $base-white-color;
  border-radius: 8px;
}

.ticket-details {
  margin-bottom: 20px;
}

.ticket-details p {
  font-size: 1.2rem;
  color: $base-gray-color;
}

.price-input {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: $base-black-color;
}

input[type="number"] {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid $base-white-color;
  border-radius: 4px;
  width: 100%;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

.save-button {
  margin-top: 20px;
}
